<style type="text/css">
.root{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #95a5a6;
    height:100%
}

.subdiv{
    margin-top: 20px;
    width:400px;
    height:auto;
    background-color: #FFF;
    padding:20px;
    border-radius: 10px;
    border:1px solid #000;
}
.gap{
    margin-bottom: 20px;
}


</style>


<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </head>

        <form action="/candidate/addnewcandidate">
    
    <div class="root">
       
        <div class="subdiv">
            <div class="row" style="margin-left: 100px; margin-bottom: 20px;">
                <h5>candidate interface</h5>
            </div>
          <div class ="form-row gap">
              <div class ="col">
                 <input type="text" class="form-control" placeholder='Candidate Name' name='candidatename'>
              </div>
              <div  class ="col">
                 <input type="text" class="form-control" placeholder='Candidate Email' name='email'>
             </div>
         </div>
         <div class ="form-row gap">
            <div class ="col" style="display:flex; justify-content:center; align-items:center;">
                <button type="Submit" class="btn btn-primary" style="width:150px;">save</button>
            </div>
       </div>
       <div class="form-row gap">
           <b><%=msg %></b>
       </div>
    </div>
</form>
</html>